body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
  font-family: Smooch;
  text-shadow: 2px 2px 8px #ffffff;
  width: 30%;
  letter-spacing: 6px;
  font-size: 60px !important;
}


